{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}在线笔记{% endblock %}


{% block page_content %}

<div class="page-header">
    
</div>

<div class="center-block" style="width:400px;">
	
	<h1>在线笔记 随身携带</h1>
	
	<div class="modal fade" id="login" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel1">
						<span class="glyphicon glyphicon-log-in"></span>
						&nbsp;登录</h4>
				</div>
				<div class="modal-body">{{ wtf.quick_form(login_form,
					button_map={'loginsubmit':'primary btn-block'}) }}
				</div>
				<div class="modal-footer">
					<a href="{{ url_for('auth.reg') }}" class="text-warning">
						<span class="glyphicon glyphicon-user"></span>
						&nbsp;注册新用户</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel2">
						<span class="glyphicon glyphicon-log-out"></span>
						&nbsp;退出
					</h4>
				</div>
				<div class="modal-body">您确定要退出吗？</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span class="glyphicon glyphicon-ban-circle"></span>
						取消
					</button>
					<a class="btn btn-danger" href="{{ url_for('auth.logout') }}">
						<span class="glyphicon glyphicon-log-out"></span>
						&nbsp;退出
					</a>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}
	
	
{% block scripts %}
{{ super() }}
{% if current_user.is_authenticated %}
<script>
	$('#logout').modal();
</script>
{% else %}
<script>
	$('#login').modal();
	$('#username').focus();
	$(document).keyup(function(event){
		if(event.keyCode ==13){
		$("#loginsubmit").trigger("click");
		}
	});
</script>
{% endif %}
{% endblock %}	








