
{% import "bootstrap/wtf.html" as wtf %}

<div id="content_table" value="{{ classify_id }}">
	{% if content_area %}
	{{ content_area }}
	{% else %}
	<table class="table table-hover" style="max-width:350px">
		<form method="POST">
		{{ content_add_form.hidden_tag() }}	
		<thead>
			<tr>
				<th>	
					{{ content_add_form.content_add_submit() }}
				</th>		
		</thead>
		<tbody>				
			<tr id="" class="active" value="">											
				<td style="width:320px">					
					{{ content_add_form.content_text(rows=25,cols=100) }}															
				</td>				
			</tr>
		</tbody>	
		</form>	
	</table>
	{% endif %}
</div>		



