{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}在线笔记{% endblock %}


{% block page_content %}

<div class="page-header">
    <button class="btn btn-xs btn-link" data-toggle="modal" data-target="#add" title="新分类">
		<span class="glyphicon glyphicon-plus">&nbsp;新分类</span>
	</button>
	<div class="modal fade" id="add" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_add" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel_add">
						<span class="glyphicon glyphicon-plus"></span>
						&nbsp;新分类</h4>
				</div>
				<div class="modal-body">{{ wtf.quick_form(add_form,
					button_map={'add_submit':'primary btn-block'}) }}
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>	
</div>

<div class = "container">
	{% for classify_form in classify_forms %}
		{{ wtf.quick_form(classify_form[0],
			button_map={'classify_submit':'primary btn-link'}) }}
		<button class="btn btn-xs btn-link" data-toggle="modal" data-target="#del{{ loop.index }}" title="删除">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
		<div class="modal fade" id="del{{ loop.index }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_del" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel_del">
							<span class="glyphicon glyphicon-trash"></span>
							&nbsp;删除</h4>
					</div>	
					<div class="modal-body">{{ wtf.quick_form(classify_form[1],
						form_type = "horizontal",
						button_map={'del_submit':'danger btn-block'}) }}
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>					
	{% endfor %}
</div>
{% endblock %}






