{% extends "base.html" %}


{% block title %}在线笔记{% endblock %}


{% block page_content %}

<div id="classify" class="container">
	{% include 'classify.html' %}					
</div>

{% endblock %}


{% block scripts %}

{{ super() }}

<script>	
$(document).ready(function(){
  //禁用缓存，以获取修改后的结果
  $.ajaxSetup({cache: false});
  //删除分类
  $("div#classify").on("click","a#del",function(){
	  var conf_del = confirm("删除分类将删除该分类的所有文章！\n\n确认删除？");
	  if (conf_del){
		  $.post("/note/classify",{del_id:$(this).val()},function(data,status){		  
			  $("div#table_div").remove();
			  $("div#classify").html(data);			 
			  });
			  //load方法第一个会有延迟，后面的会有闪烁	
			  //~ $("div#table_div").remove();	 
			  //~ $("div#classify").load("/note/classify",{del_id:$(this).val()}); 
		  };							  
	  });
  //添加分类
  //click方法无法阻止回车键提交表单
  //$("input#add_submit").click(function(event){
  //submit方法不能给未来元素绑定方法	  
  $("div#classify").on("submit","form#form_add",function(event){
	  event.preventDefault();
	  $("div#add").modal("hide");
	  //IE低版本不支持FormData
	  //var  form_add = new FormData($("form#form_add")[0]); 
	  //只提交数据，不会经过validate
	  //$.post("/note/classify",{add_name:$("input#add_name").val()},function(data,status){
	  //提交整个表单 
	  var form_add=$(this).serialize();		  
	  $.post("/note/classify",form_add,function(data,status){
		  $("div#table_div").remove();
		  $("div#classify").html(data);
		  //新增分类背景色
		  //alert($(data).find("a#classify").text())
		  //$("a#classify:first").parent().parent().addClass("info")
		  });
	  });		   
});
</script>

{% endblock %}



