{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}在线笔记{% endblock %}


{% block page_content %}

<div id="classify" class="container">	
	<div id="#tablediv">

	</div>							
</div>

{% endblock %}


{% block scripts %}

{{ super() }}

<script>
$(document).ready(function(){
	
  $.ajaxSetup({cache: false});
  
  $("#tablediv").load("/note/classify");
  
  $("a#del").click(function(){
	  var del_conf = confirm("分类名：\n"+$(this).val()+"\n\n确认删除？");
	  if (del_conf){
		  $.post("/note/del",{del_id:$(this).val()},function(data,status){		  
			  $("#tablediv").remove();
			  $("#classify").load("/note/classify");			 
			  });		  
		  };							  
	  });
  
});
</script>

{% endblock %}



