
{% import "bootstrap/wtf.html" as wtf %}

<div id="title_table" value="{{ classify_id }}">
	{% if title_area %}
	{{ title_area }}
	{% else %}
	<table class="table table-hover" style="max-width:350px">
		<thead>
			<tr>
				<th>	
					我的笔记
				</th>		
				<th>	
					<button class="btn btn-xs btn-link"  data-toggle="modal" data-target="#title_add" title="新日记">
						<span class="glyphicon glyphicon-plus">&nbsp;新笔记</span>
					</button>
					<div class="modal fade" id="title_add" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_title_add" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel_title_add">
										<span class="glyphicon glyphicon-plus"></span>
										&nbsp;新笔记</h4>
								</div>
								<div class="modal-body">{{ wtf.quick_form(title_add_form,
									button_map={'title_add_submit':'primary btn-block'},
									id="title_add") }}
								</div>
								<div class="modal-footer">
								</div>
							</div>
						</div>
					</div>					
				</th>
			</tr>
		</thead>
		<tbody>				
		{% for p in title_pagination.items %}
			<tr id="classify_id" class="active" value="{{ p.classify_id }}">											
				<td style="width:320px">					
					<a id="title_name" style="color:black;cursor:pointer;text-decoration:none;" value="{{ p.id }}" title="查看分类">
						{{ p.note_title }}
					</a>					
				</td>										
				<td>
					<a id="title_edit" style="cursor:pointer;" value="{{ p.id }}" title="修改标题">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
					&nbsp;&nbsp;																
					<a id="title_del" style="cursor:pointer;" value="{{ p.id }}" title="删除日记">
						<span class="glyphicon glyphicon-trash"></span>
					</a>																
				</td>				
			</tr>		
		{% endfor %}
			<tr>
				<td colspan=2>
					<ul class="pagination">
						<li>
							<a id="title_page" style="cursor:pointer;" value="{{ title_pagination.page-1 }}" title="上一页">
								&lt;
							</a>
						</li>
						{% for p in title_pagination.iter_pages(left_edge=1,left_current=1,right_current=2,right_edge=1) %}
						{% if p %}
							{% if p == title_pagination.page %}
								<li id="title_active" class="active" value="{{ p }}">
									<a id="title_page" value="{{ p }}" style="cursor:pointer;" title="当前页">{{ p }}</a>
								</li>
							{% else %}
								<li>
									<a id="title_page" value="{{ p }}" style="cursor:pointer;" title="第{{ p }}页">{{ p }}</a>
								</li>
							{% endif %}
						{% else %}
						<li><a>&hellip;</a></li>
						{% endif %}
						{% endfor %}
						<li>
							<a id="title_page" style="cursor:pointer;" value="{{ title_pagination.page+1 }}" title="下一页">
								&gt;
							</a>
						</li>
					</ul>
				</td>				
			</tr>
	</table>
	{% endif %}
</div>		



